### Heroes Of Pymoli Data Analysis
* The vast majority of revenue comes from males, but that is because the vast majority of players are males. There is virtually no difference in purchasing habits between females and males. All 

* The largest age group of players is 20-24. 

* There doesn't appear to be any correlation between age and purchasing.
-----

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
number_of_players = len(list(purchase_data["SN"].unique()))
print(f"Total number of players is {number_of_players}")

Total number of players is 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
count_unique_itemid = len(list(purchase_data["Item ID"].unique()))
count_unique_itemid

183

In [4]:
count_unique_itemname = len(list(purchase_data["Item Name"].unique()))
count_unique_itemname

179

In [5]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [6]:
count_purchases = purchase_data["Purchase ID"].count()
count_purchases

780

In [7]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [8]:
summary_df = pd.DataFrame({"Number of Unique Items": count_unique_itemid, 
                           "Number of Unique Item Names": count_unique_itemname,
                           "Average Price": average_price,
                           "Number of Purchases": count_purchases,
                           "Total Revenue": total_revenue},index=[0])
summary_df.style.format({"Average Price": "${:.2f}", "Total Revenue": '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
player_data = purchase_data[["SN","Age","Gender"]]
player_data.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [10]:
player_data.describe()

              Age
count  780.000000
mean    22.714103
std      6.659444
min      7.000000
25%     20.000000
50%     22.000000
75%     25.000000
max     45.000000

In [11]:
player_data_unique = player_data.drop_duplicates("SN")
player_data_unique.describe()

              Age
count  576.000000
mean    22.741319
std      6.838568
min      7.000000
25%     19.000000
50%     22.000000
75%     25.000000
max     45.000000

In [12]:
player_by_gender_count = player_data_unique["Gender"].value_counts()
player_by_gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [13]:
player_by_gender_percent = player_data_unique["Gender"].value_counts(True)
player_by_gender_percent

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [14]:
gender_demographics_df = pd.DataFrame({"Count": player_by_gender_count,
                                  "Percent": player_by_gender_percent
                                  })
gender_demographics_df.style.format({"Percent": "{:,.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
grouped_gender_df = purchase_data.groupby(["Gender"])

In [16]:
purchase_count = grouped_gender_df["Price"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [17]:
avg_purchase_price = grouped_gender_df["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
total_purchase_value = grouped_gender_df["Price"].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [19]:
avg_purchase_per_person = total_purchase_value/player_by_gender_count
avg_purchase_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [20]:
grouped_gender_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": avg_purchase_price,
                                  "Total Purchase Value": total_purchase_value,
                                 "Average Total Purchase Per Person": avg_purchase_per_person})
grouped_gender_summary_df.style.format({"Average Purchase Price": "${:,.2f}",
                                        "Total Purchase Value": "${:,.2f}",
                                      "Average Total Purchase Per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
age_bins = [0,9,14,19,24,29,34,39,999]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [22]:
player_data_unique["Age bin"] = pd.cut(player_data_unique["Age"],age_bins,labels=bin_names)
player_data_unique.head()

C:\Users\atk285\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

              SN  Age Gender Age bin
0        Lisim78   20   Male   20-24
1    Lisovynya38   40   Male     40+
2     Ithergue48   24   Male   20-24
3  Chamassasya86   24   Male   20-24
4      Iskosia90   23   Male   20-24

In [23]:
len(player_data_unique)

576

In [24]:
age_bin_count = player_data_unique.groupby(["Age bin"])["SN"].count()
age_bin_count

Age bin
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [25]:
age_bin_freq = player_data_unique.groupby(["Age bin"])["SN"].count()/len(player_data_unique)
age_bin_freq

Age bin
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: SN, dtype: float64

In [26]:
age_demographics_df = pd.DataFrame({"Total Count": age_bin_count,
                                  "Percentage of Players": age_bin_freq
                                  })
age_demographics_df.style.format({"Percentage of Players": "{:,.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
purchase_data["Age bin"] = pd.cut(purchase_data["Age"],age_bins,labels=bin_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
purchase_by_age_bin = purchase_data.groupby(["Age bin"])

In [29]:
purchase_age_bin_count = purchase_by_age_bin["Purchase ID"].count()
purchase_age_bin_count

Age bin
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [30]:
purchase_age_bin_avg_price = purchase_by_age_bin["Price"].mean()
purchase_age_bin_avg_price

Age bin
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [31]:
purchase_age_bin_total_price = purchase_by_age_bin["Price"].sum()
purchase_age_bin_total_price

Age bin
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [32]:
purchase_age_bin_person_count = purchase_by_age_bin["SN"].nunique()
purchase_age_bin_person_count

Age bin
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [33]:
purchase_age_bin_total_per_person = purchase_age_bin_total_price/purchase_age_bin_person_count
purchase_age_bin_total_per_person

Age bin
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [34]:
purchasing_age_df = pd.DataFrame({"Purchase Count": purchase_age_bin_count,
                                  "Average Purchase Price": purchase_age_bin_avg_price,
                                  "Total Purchase Value": purchase_age_bin_total_price,
                                  "Avg Total Purchase per Person": purchase_age_bin_total_per_person
                                  })
purchasing_age_df.style.format({"Average Purchase Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}",
                                "Avg Total Purchase per Person": "${:,.2f}",
                               })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
purchase_by_sn = purchase_data.groupby(["SN"])

In [36]:
purchase_by_sn_count = purchase_by_sn["Purchase ID"].count()
purchase_by_sn_count.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [37]:
purchase_by_sn_avg_price = purchase_by_sn["Price"].mean()
purchase_by_sn_avg_price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [38]:
purchase_by_sn_total_price = purchase_by_sn["Price"].sum()
purchase_by_sn_total_price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [39]:
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_by_sn_count,
                                  "Average Purchase Price": purchase_by_sn_avg_price,
                                  "Total Purchase Value": purchase_by_sn_total_price
                                  })
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value",ascending=False)
top_spenders_df.head().style.format({"Average Purchase Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}",
                               })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
item_data = purchase_data[["Item ID","Item Name","Price"]]
item_data.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [43]:
group_item = item_data.groupby(["Item ID","Item Name"])

In [44]:
item_purchase_count = group_item["Item ID"].count()
item_purchase_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item ID, dtype: int64

In [45]:
item_purchase_price = group_item["Price"].mean()
item_purchase_price.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [46]:
item_purchase_total = group_item["Price"].sum()
item_purchase_total.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [47]:
popular_df = pd.DataFrame({"Purchase Count": item_purchase_count,
                                  "Item Price": item_purchase_price,
                                  "Total Purchase Value": item_purchase_total
                                  })

In [48]:
popular_df = popular_df.sort_values("Purchase Count",ascending=False)
popular_df.head().style.format({"Item Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}",
                               })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [49]:
popular_sorted_df = popular_df.sort_values("Total Purchase Value",ascending=False)
popular_sorted_df.head().style.format({"Item Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}",
                               })